/* ここから下に記載していく */

.wrap {
    width: 1200px;
    font-size: 16px;
}

.header {
    width: 1200px;
    border: 1px solid #999;
    display: flex;
}

#navigation {
    display: flex;
    align-items: center;
}

#navigation>a:nth-of-type(1) {
    margin-left: 300px;
}


.nav_logo_img {
    display: flex;
    padding-left: 50px;
}

/* ナビゲーションメニューテキストを右端に寄せたい！！！ */

.nav_list {
    /* display: flex; */
    justify-items: right;
}


.nav_item {
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

/* .nav_list>li:nth-of-type(1) {
    margin-left: auto;
} */


/* main_visual */
.main_visual {
    position: relative;
    width: 1200px;
}

.mv_img {
    width: 1200px;
}

.mv_cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    /* font-size: 48px;
    color: white;
    margin-bottom: 30px;*/
}

.mv_cont_p1 {
    font-size: 48px;
    color: white;
    /* text-align: center; */
    margin-bottom: 30px;
}

.mv_cont_p2 {
    font-size: 36px;
    color: white;
    /* text-align: center; */
}

/* about */
.about {
    margin-top: 60px;
    text-align: center;
}

.about h1 {
    font-size: 24px;
    color: #ffd61a;
    margin-bottom: 30px;
    text-align: center;
}

.about h2 {
    font-size: 18px;
    margin-bottom: 60px;
}

.about_cont p {
    line-height: 1.5;
    margin-bottom: 40px;
}

.about_cont {
    margin-top: 60px;
    margin-bottom: 80px;
}

.about_img {
    display: flex;
}

.about_img img {
    width: 300px;
}

/* course */
.course {
    margin-top: 60px;
    text-align: center;
}

.course_cont h1 {
    font-size: 24px;
    color: #222222;
    /* margin-top: 60px; */
    margin-bottom: 30px;
    text-align: center;
}

.course_cont p {
    line-height: 1.5;
    margin-bottom: 60px;
}

.course_row1 {
    display: flex;
}

.course_row1_left_img img {
    width: 600px;
}

.course_row1_right_cont {
    background: #fafafa;
    padding-left: 50px;
    padding-right: 120px;
    text-align: left;
    width: 480px;
}

.course_row1_right_cont h2 {
    font-size: 24px;
    margin-top: 120px;
    margin-bottom: 40px;
}

.course_row1_right_cont p {
    line-height: 1.5;
    margin-bottom: 60px;
}

.course_row2 {
    display: flex;
}

.course_row2_left_cont {
    background: #fafafa;
    text-align: left;
    width: 600px;
    padding-left: 70px;
    padding-right: 50px;
}

.course_row2_left_cont h2 {
    font-size: 24px;
    margin-top: 120px;
    margin-bottom: 40px;
}

.course_row2_left_cont p {
    line-height: 1.5;
    margin-bottom: 60px;
}

.course_row2_right_img img {
    width: 600px;
}

.course_row3 {
    display: flex;
}

.course_row3_left_img img {
    width: 600px;
}

.course_row3_right_cont {
    background: #fafafa;
    padding-left: 50px;
    padding-right: 120px;
    text-align: left;
    width: 480px;
}

.course_row3_right_cont h2 {
    font-size: 24px;
    margin-top: 120px;
    margin-bottom: 40px;
}

.course_row3_right_cont p {
    line-height: 1.5;
    margin-bottom: 60px;
}

.news_header {
    text-align: center;
}

.news_header h1 {
    font-size: 24px;
    color: #ffd61a;
    margin-top: 60px;
    margin-bottom: 30px;
}

.news_header h2 {
    font-size: 18px;
    margin-bottom: 60px;
}

.news_content {
    display: flex;
    justify-content: center;
    text-align: left;
    border-radius: 10px;
}

.news_date-time {
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 24px;
}

.news_content img {
    border-radius: 20px;
}

.news_content p {
    line-height: 1.5;
}

.news_left {
    width: 300px;
    margin-right: 30px;
    background-color: powderblue;
    transition: background-color 0.5s;
    border-radius: 20px;
}

.news_left:hover {
    background-color: gold;
}

.news_center {
    width: 300px;
    margin-right: 30px;
    background-color: powderblue;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.news_center:hover {
    background-color: gold;
}

.news_right {
    width: 300px;
    background-color: powderblue;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.news_right:hover {
    background-color: gold;
}

.news_button_wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    width: 1200px;
    align-items: center;
}

.news_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffd61a;
    width: 300px;
    height: 60px;
    align-content: center;
}

.news_btn p {
    color: white;
    text-align: center;
}

.news_btn :hover {
    background-color: lemonchiffon;
    color: red;
    align-content: center;
    width: 300px;
    height: 60px;
    font-size: 18pt;
    /* padding: 2px 2px 2px 2px; */
}

.access {
    width: 1200px;
    height: auto;
}

.access_header {
    text-align: center;
    /* background-color: #fafafa; */
}

.access_header h1 {
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #fafafa;
}

.access_header h2 {
    font-size: 18px;
    padding-bottom: 60px;
    background-color: #fafafa;
}

.company_data {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fafafa;
    justify-content: center;
    display: grid;
    grid-template-columns: 120px 360px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 15px;
}

.contact {
    width: 1200px;
    height: auto;
}

.contact_header {
    text-align: center;
}

.contact_header h1 {
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.contact_header h2 {
    font-size: 18px;
    padding-bottom: 60px;
}

.contact_cont {
    line-height: 1.5;
    margin-bottom: 30px;
}

.contact_attention {
    line-height: 1.5;
    margin-bottom: 70px;
}


/* フォームの入力データ検証 */
/* input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
} */

.contact_form {
    /* margin: 0 auto; */
    border: 328px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

.contact_form_item {
    display: flex;
    border-bottom: 1px solid #bfbfbf;
}

.contact_form_label {
    float: left;
    width: 240px;
    padding-left: 16px;
    padding-right: 64px;
    padding-top: 16px;
    border-right: 1px solid #bfbfbf;
}

.contact_form_inputs {
    float: left;
    width: 400px;
    min-height: 36px;
    margin: 8px 8px 8px;
}

.contact_form_submit_button_wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    width: 100%;
    align-items: center;
}

input[type="checkbox"] {
    margin-bottom: 16px;
}

input[type="submit"] {
    background: #ffd61a;
    border: none;
    color: white;
}

.submit_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffd61a;
    width: 300px;
    height: 60px;
    text-align: center;
    align-content: center;
}

.submit_btn :hover {
    background-color: lemonchiffon;
    color: red;
    align-content: center;
    width: 300px;
    height: 60px;
    font-size: 18pt;
}

.clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: flex;
    justify-content: center;
}

#footer {
    background-color: #707070;
    color: white;
    text-align: center;
    width: 1200px;
    padding-top: 30px;
    padding-bottom: 30px;
}